<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      {% block style %}
    {% endblock%}
      <title>Card Game</title>
    {% endblock %}

  </head>
  <body>
  <header>
    {% if user.is_authenticated %}
    Hello, {{username}}!
    <button><a href="{% url 'logout' %}">Log out</a></button>
    {% else %}
    <a href="{% url 'login' %}">Click here to log in!</a>
    {% endif %}
  </header>
    <div id="content">{% block content %}{% endblock %}</div>
      <br>
  <br>
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
  </body>
</html>