{% extends "base.html" %}
{% block content %}
<div>
<h3>Your game modes</h3>
<table>
<thead>
  <tr>
    <th></th>
      <th>TOWER</th>
      <th>WALL</th>
      <th>MINE/FOUNTAIN/FARM</th>
      <th>GOLD/MANA/FOOD</th>
      <th>VICTORIOUS TOWER</th>
      <th>VICTORIOUS RESOURCES</th>
        <th>PLAY</th>
        <th>DELETE</th>
  </tr>
</thead>
<tbody>
<!--  <tr>-->
<!--    <td>STANDARD</td>-->
<!--      <td>20</td>-->
<!--      <td>10</td>-->
<!--      <td>3 / 2 / 3</td>-->
<!--      <td>10 / 15 / 10</td>-->
<!--      <td>60</td>-->
<!--      <td>250</td>-->
<!--      <td><button><a href="{% url 'match' %}">PLAY!</a></button></td>-->
{% for initial_state in initial_states %}
      <tr>
      <td></td>
      <td>{{initial_state.tower}}</td>
      <td>{{initial_state.wall}}</td>
      <td>{{initial_state.mine}} / {{initial_state.fountain}} / {{initial_state.farm}}</td>
      <td>{{initial_state.gold}} / {{initial_state.mana}} / {{initial_state.food}}</td>
      <td>{{initial_state.cov_tower}}</td>
      <td>{{initial_state.cov_resources}}</td>
      <td>
<!--          <form action="#" method="get">-->
<!--              <button type="submit" class ="btn" value="play{{initial_state.id}}" name="play">PLAY</button>-->
<!--          </form>-->
          <a href="/match">PLAY!</a>
      </td>
      <td>
          <form action="#" method="get">
              <button type="submit" class ="btn" value="delete{{initial_state.id}}" name="delete">DELETE</button>
  </form>
      </td>
{% endfor %}
</tbody>
</table>
</div>

<div>
<form method="post">
    {% csrf_token %}
    <h3>Starting values:</h3>
    <p>Tower: <input type="number" name="tower"></p>
    <p>Wall: <input type="number" name="wall"></p>
    <p>Mine: <input type="number" name="mine">
    Gold: <input type="number" name="gold">
    <p>Fountain: <input type="number" name="fountain">
    Mana: <input type="number" name="mana"></p>
    <p>Farm: <input type="number" name="farm">
    Food: <input type="number" name="food"></p>
    <h3>Conditions of victory:</h3>
    <p>Tower: <input type="number" name="cov_tower"></p>
    <p>Resources: <input type="number" name="cov_resources"></p>
    <p><button type="submit">Save custom game settings</button></p>
    {{ error_message }}

</form>
    </div>
{% endblock %}