{% extends "base.html" %}
{% block content %}
<h2 class="match_cov">Conditions of victory</h2>
<table class="match_cov">
    <tr>
        <th>Tower: {{ match.initial_state.cov_tower }}</th>
        <th>Resources: {{ match.initial_state.cov_resources}}</th>
    </tr>
</table>

<table class="player1_state">
    <tr>
        <th>
            <div class="name">{{match.player1.user.username}}</div>
        </th>
    </tr>
    <tr>
        <th>
            <div class="mine">MINE {{ match.player1.mine }}</div>
            <div class="gold">GOLD: {{ match.player1.gold }}</div>
        </th>
    </tr>
    <tr>
        <th>
            <div class="fountain">FOUNTAIN {{ match.player1.fountain }}</div>
            <div class="mana">MANA: {{ match.player1.mana }}</div>
        </th>
    </tr>
    <tr>
        <th>
            <div class="farm">FARM {{ match.player1.farm }}</div>
            <div class="food">FOOD: {{ match.player1.food }}</div>
        </th>
    </tr>
</table>

<div class="second_last_card">
  {% if match.second_last_card == None %}
  -
  {% else %}
  {{ second_last_card_name }}
  {% endif %}
</div>
<div class="last_card">
  {% if match.last_card == None %}
  -
  {% else %}
  {{ last_card_name }}
  {% endif %}
</div>

<table class="player2_state">
    <tr>
        <th>
            <div class="name">COMPUTER</div>
        </th>
    </tr>
    <tr>
        <th>
            <div class="mine">MINE {{ match.player2.mine }}</div>
            <div class="gold">GOLD: {{ match.player2.gold }}</div>
        </th>
    </tr>
    <tr>
        <th>
            <div class="fountain">FOUNTAIN {{ match.player2.fountain }}</div>
            <div class="mana">MANA: {{ match.player2.mana }}</div>
        </th>
    </tr>
    <tr>
        <th>
            <div class="farm">FARM {{ match.player2.farm }}</div>
            <div class="food">FOOD: {{ match.player2.food }}</div>
        </th>
    </tr>
</table>

<div class="tower">{{match.player1.tower}}</div>
<div class="wall">{{match.player1.wall}}</div>
<div class="wall">{{match.player2.wall}}</div>
<div class="tower">{{match.player2.tower}}</div>

<div class="card">
  {{card1_name}}
  <form action="#" method="get">
 <input type="submit" class="btn" value="Use" name="card1_usage">
  </form>
  <button>Discard</button>
</div>
<div class="card">
  {{card2_name}}
  <form action="#" method="get">
 <input type="submit" class="btn" value="Use" name="card2_usage">
  </form>
  <button>Discard</button>
</div>
<div class="card">
  {{card3_name}}
  <form action="#" method="get">
 <input type="submit" class="btn" value="Use" name="card3_usage">
  </form>
  <button>Discard</button></div>
<div class="card">
  {{card4_name}}
    <form action="#" method="get">
 <input type="submit" class="btn" value="Use" name="card4_usage">
  </form>
  <button>Discard</button>
</div>
<div class="card">
  {{card5_name}}
    <form action="#" method="get">
 <input type="submit" class="btn" value="Use" name="card5_usage">
  </form>
  <button>Discard</button>
</div>


{% endblock %}