{% extends "base.html" %}
{% block content %}

<style>
    div.last_card {background-color: {{last_card_color}}}
    div.second_last_card {background-color: {{second_last_card_color}}}
    div.card1 {background-color: {{card1_color}}}
    div.card2 {background-color: {{card2_color}}}
    div.card3 {background-color: {{card3_color}}}
    div.card4 {background-color: {{card4_color}}}
    div.card5 {background-color: {{card5_color}}}
    </style>

<div class="upper_part_box">
<table class="match_cov">
    <tr>
        <th>Conditions of victory:</th>
        <th>Tower {{ match.initial_state.cov_tower }}</th>
        <th>Resources {{ match.initial_state.cov_resources}}</th>
    </tr>
</table>
<table class="player1_state">
    <tr>
        <th>
            <div class="name">{{match.player1.user.username}}</div>
        </th>
    </tr>
    <tr>
        <th>
            <div class="mine">MINE {{ match.player1.mine }}</div>
            <div class="gold">GOLD: {{ match.player1.gold }}</div>
        </th>
    </tr>
    <tr>
        <th>
            <div class="fountain">FOUNTAIN {{ match.player1.fountain }}</div>
            <div class="mana">MANA: {{ match.player1.mana }}</div>
        </th>
    </tr>
    <tr>
        <th>
            <div class="farm">FARM {{ match.player1.farm }}</div>
            <div class="food">FOOD: {{ match.player1.food }}</div>
        </th>
    </tr>
</table>
<table class="player2_state">
    <tr>
        <th>
            <div class="name">COMPUTER</div>
        </th>
    </tr>
    <tr>
        <th>
            <div class="mine">MINE {{ match.player2.mine }}</div>
            <div class="gold">GOLD: {{ match.player2.gold }}</div>
        </th>
    </tr>
    <tr>
        <th>
            <div class="fountain">FOUNTAIN {{ match.player2.fountain }}</div>
            <div class="mana">MANA: {{ match.player2.mana }}</div>
        </th>
    </tr>
    <tr>
        <th>
            <div class="farm">FARM {{ match.player2.farm }}</div>
            <div class="food">FOOD: {{ match.player2.food }}</div>
        </th>
    </tr>
</table>

</div>
<div class="recent_cards">
    <table class="card_box">
        <tr>
            <td>Second last used card</td>
        </tr>
        <tr>
            <td>
               <div class="card second_last_card">
                   {% if match.second_last_card == None %}
                   -
                   {% else %}
                   {{ second_last_card_name }}<br><br>
                   {{second_last_card_description}}<br>
                   <div class="card_cost">
                       {{second_last_card_cost}}
                   </div>

  {% endif %}
                </div>
            </td>
        </tr>
    </table>
    <table class="card_box">
        <tr>
            <td>
                Last used card
            </td>
        </tr>
        <tr>
            <td>
                <div class="card last_card">
  {% if match.last_card == None %}
  -
  {% else %}
  {{ last_card_name }}<br><br>
    {{last_card_description}}
                    <div class="card_cost">
                       {{last_card_cost}}
                   </div>
  {% endif %}
                </div>
            </td>
        </tr>

        </table>
    </div>

<div class="building_box">
<div class="tower">TOWER<br>{{match.player1.tower}}</div>
<div class="wall">WALL<br>{{match.player1.wall}}</div>
<div class="wall">WALL<br>{{match.player2.wall}}</div>
<div class="tower">TOWER<br>{{match.player2.tower}}</div>
</div>
<br>
{% if is_game_over == 1 or is_game_over == 2 %}
<div class="player_deck">
    <h1>{{ result }}</h1>
</div>
{% else %}
<div class="player_deck">
<div class="card card1">
  {{card1_name}}<br><br>
    {{card1_description}}
    <div class="card_cost">
                       {{card1_cost}}
                   </div>
  <form action="#" method="get">
 <input type="submit" class="btn" value="Use" name="card1_usage">
  </form>
  <button>Discard</button>
</div>
<div class="card card2">
  {{card2_name}}<br><br>
    {{card2_description}}
    <div class="card_cost">
                       {{card2_cost}}
                   </div>
  <form action="#" method="get">
 <input type="submit" class="btn" value="Use" name="card2_usage">
  </form>
  <button>Discard</button>
</div>
<div class="card card3">
  {{card3_name}}<br><br>
    {{card3_description}}
    <div class="card_cost">
                       {{card3_cost}}
                   </div>
  <form action="#" method="get">
 <input type="submit" class="btn" value="Use" name="card3_usage">
  </form>
  <button>Discard</button></div>
<div class="card card4">
  {{card4_name}}<br><br>
    {{card4_description}}
    <div class="card_cost">
                       {{card4_cost}}
                   </div>
    <form action="#" method="get">
 <input type="submit" class="btn" value="Use" name="card4_usage">
  </form>
  <button>Discard</button>
</div>
<div class="card card5">
  {{card5_name}}<br><br>
    {{card5_description}}
    <div class="card_cost">
                       {{card5_cost}}
                   </div>
    <form action="#" method="get">
 <input type="submit" class="btn" value="Use" name="card5_usage">
  </form>
  <button>Discard</button>
</div>
</div>
{% endif %}
{% endblock %}
