{% extends "base.html" %}
{% block content %}
<div class="cov_desc">
  Conditions of victory:<br>
  Tower: {{ match.initial_state.cov_tower }} <br>
  Resources: {{ match.initial_state.cov_victory}} <br>
</div>
<div class="name">{{match.player1.user.username}}</div>
<div class="mine">MINE {{ match.player1.mine }}</div>
<div class="gold">GOLD: {{ match.player1.gold }}</div>
<div class="fountain">FOUNTAIN {{ match.player1.fountain }}</div>
<div class="mana">MANA: {{ match.player1.mana }}</div>
<div class="farm">FARM {{ match.player1.farm }}</div>
<div class="food">FOOD: {{ match.player1.food }}</div>
<!--zmienić nazwę bota!-->
<div class="name">COMPUTER</div>
<div class="mine">MINE {{ match.player2.mine }}</div>
<div class="gold">GOLD: {{ match.player2.gold }}</div>
<div class="fountain">FOUNTAIN {{ match.player2.fountain }}</div>
<div class="mana">MANA: {{ match.player2.mana }}</div>
<div class="farm">FARM {{ match.player2.farm }}</div>
<div class="food">FOOD: {{ match.player2.food }}</div>

<div class="second_last_card">{{ match.second_last_card }}</div>
<div class="last_card">{{ match.last_card }}</div>

<div class="tower">{{match.player1.tower}}</div>
<div class="wall">{{match.player1.wall}}</div>
<div class="wall">{{match.player2.wall}}</div>
<div class="tower">{{match.player2.tower}}</div>

<div class="card">{{match.player1.card_1}}</div>
<div class="card">{{match.player1.card_2}}</div>
<div class="card">{{match.player1.card_3}}</div>
<div class="card">{{match.player1.card_4}}</div>
<div class="card">{{match.player1.card_5}}</div>


{% endblock %}